:root {
  --zinc-900: #080707; /* Define zinc-800 color */
}
body {
    background-color: rgb(32, 2, 2);
    height: 280px;
    width: 280px;
    font-family: Arial, sans-serif, roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(79, 240, 4);
    margin: 0px;
    padding: 0%;
    border-radius: 5px
  }
  
  .first {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    height: 280px;
    width: 280px;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .first h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5rem;
    
  }
  
  .button a {
    color: rgb(42, 35, 35);
    text-decoration: none;
    background-color: #FFFFFF;

background-image: linear-gradient(180deg,#6895D2 55%, #cacadd 100%);

    padding: 0.6rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }
  
  .button a:hover {
    background-color: #f15608;
    /* background-color: #07ebc980; */
    transform: scale(1.1)
  }
  
  .background {
    background-image: linear-gradient(rgba(0, 0, 3, 0.7), rgba(237, 191, 191, 0.2)), url(img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* z-index: -2; */
  }
  .for_heading{
    margin-bottom: 0%;
  }