:root {
  --zinc-900: #080707; /* Define zinc-800 color */
}
body {
    background-color: rgb(32, 2, 2);
    height: 280px;
    width: 280px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(79, 240, 4);
    margin: 2px;
    padding: 0%;
  }
  
  .first {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    height: 280px;
    width: 280px;
    /* border: 1px solid white; */
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .first h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .second {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .second a {
    color: white;
    text-decoration: none;
    background-color: #f40000;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
  }
  
  .second a:hover {
    background-color: #2e409a;
  }
  
  .background{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }