body{
    background-color: black;
    height: 240px;
    width: 240px; 
    font-size: medium;
}
.first{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0%;
    margin: 0%;
    align-items: center;
}
.vector{
    color: aqua;
}
.initialize p{
    color: red;
}