body{
    background-color: black;
    height: 280px;
    width: 280px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.first{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0%;
    margin: 0%;
    align-items: center;
}
.initialize p{
    color: red;
    color: aqua;
    /* padding: auto; */
    display: flex;
    justify-content: center;
    margin: 1%;
}
.example{
    color: aqua;
}